# نادیده گرفتن فایل‌های موقتی سیستم‌عامل
*.log
*.tmp

# نادیده گرفتن پوشه‌های build
/node_modules/
/build/
/dist/

# نادیده گرفتن پیکربندی‌های IDE
.vscode/
/.idea/

# نادیده گرفتن فایل‌های پیکربندی شخصی
*.env

# فقط برای این بار
assets/